*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #e6e6e6 #000000;
  -ms-overflow-style: none;
}

@font-face {
  font-family: 'QuintalScript_Regular';
  src: url('../assets/fonts/QuintalScript_Regular.otf');
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('../assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'Theprestigesignature';
  src: url('../assets/fonts/Theprestigesignature.otf');
}

:root {
  --font-family-title: 'QuintalScript_Regular', arial, sans-serif;
  --font-family-text: 'TitilliumWeb-Regular', arial, sans-serif;
  --font-family-signature: 'Theprestigesignature', arial, sans-serif;
}

body {
  font-family: var(--font-family-text);
}

a {
  width: fit-content;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgba(255, 255, 255, 0.548);
}


html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
  scrollbar-color: #e6e6e6 #000000 ;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
} 


section {
  scroll-snap-align: start;
}


@media(max-width: 821px) {
    html {
      scroll-padding-top: 5.5rem;
    }
}